/* content limitation */

.wrapper {
  padding: 0 calc((100% - 1440px) / 2);
}

/* text-styling */

* {
  font-family: 'Palanquin';
}

p {
  line-height: 1;
}

h1 {
  font-family: 'Palanquin Dark';
  font-size: 48px;
  font-weight: 700;
}

h1 > span {
  font-family: 'Palanquin Dark';
  color: var(--color-dark);
}

.h1-slogan {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 700;
}

h3 {
  color: var(--color-light);
  font-size: 32px;
  font-weight: 700;
}

.rating {
  font-family: 'Palanquin Dark';
  font-size: 20px;
  font-weight: 400;
}

.number-of-ratings {
  color: rgba(114, 109, 109, 1);
  font-size: 18px;
  font-weight: 400;
}

.dish-name-and-price {
  font-size: 24px;
  font-weight: 600;
}

.dish-description {
  font-size: 16px;
  font-weight: 500;
}

footer {
  font-size: 18px;
  font-weight: 400;
}

/* body and main */

body {
  display: flex;
  flex-direction: column;
  color: var(--color-second);
  height: 100vh;
}

main {
  margin-top: 120px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* header and footer */

header, footer {
  color: var(--color-white);
  background-color: var(--color-dark);
  height: 120px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-self: center;
  gap: 72px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* hero-section */

.hero-section {
}

.hero-image {
  background-image: url(./assets/img/hero-photo.jpg);
  background-position: bottom;
  background-size: cover;
  height: 400px;
  object-fit: cover;
}

.hero-logo {
  box-sizing: content-box;
  position: absolute;
  top: 400px;
  display: flex;
  justify-self: center;
  border: 12px solid var(--color-light);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 4px;
  height: 200px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.h1-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.star-container {
  background-color: var(--color-stars);
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  gap: 8px;
}

.rating-star {
  height: 23px;
}

/* dishes-section */

.category-seperator {
  background-color: var(--color-dark);
  height: 60px;
}

.h2-container {
  display: flex;
  gap: 40px;
}

.category-container {
  display: flex;
  flex-direction: column;
  
  
}

.dish-container {
  background-color: var(--color-light);
  display: flex;
  margin-left: 120px;
  border-radius: 12px;
  padding: 12px;
  gap: 16px;
  width: 50%;
  
}

.dish-img {
  border-radius: 12px;
  height: 120px;
  aspect-ratio: 4/3;
  object-fit: cover;
  
}